APP_ENV=development
PORT=8080

DB_URL=postgres://postgres:password@localhost:5432/dbapp1?sslmode=disable

JWT_SECRET=supersecret

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=test@example.com
SMTP_PASSWORD=password
SMTP_FROM=noreply@example.com

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
PROFILE_IMAGE_MAX_SIZE_MB=